/* fonts */
:root {
    --logo-font: "El Messiri";
    --heading-font: "Volkhov";
    --body-font: "Poppins";
}

/* colors */
:root{
    --primary-font: #313340;
    --secondary-font: #111111;
    --nav-bar-font: #535054;
    --button-font: #fefefe;
    --primary-color: #313340;
    --secondary-color: #D3CAC1;
    --button-color: #3B3D4B;
    --button-hover-color:#272831;
}

*{
    margin: 0;
    padding: 0;
}

.hero-section{
    background-color: var(--secondary-color);
    height: 90vh;
}

.navbar-nav a{
    color: var(--nav-bar-font);
    font-family: --var(--body-font);
    font-weight: 400;
}

.navbar-nav a:hover{
    border-bottom: 1px solid #535054;;
}

.logo{
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--logo-font);
    font-weight: bold;
    color: var(--primary-font)
}

.logo:hover{
    transform: scale(1.15);
}

.dog-image{
    transform: rotate(-5deg); 
    max-width: 100%;
}

.adopt-content{
    font-family: var(--heading-font);
    font-weight: bold;   
    position: absolute;
    top: 50%;
    left: 50%;
}

.adopt-content h2{
    width: 70%;
    margin-bottom: 2rem;
}

.adopt-content a{
    text-decoration: none;
    font-family: var(--body-font);
    color: var(--button-font);
}

.adopt-btn{
    background-color: var(--button-color);
    padding: 1rem;
    border-radius: 30px;
    margin-top: 1rem;
}

.adopt-btn:hover{
    background-color:var(--button-hover-color)
}

@media (max-width:768px) {
    .adopt-content{
        left: 0%;
    }
    
    .dog-image{
        max-width: 100%;
    }

    .adopt-content{
        width: 30%;
    }
    
}

/* friend container */
.friend-container{
    margin-top: 10rem;
}

@media (max-width:768px) {
    .friend-container{
        margin-top: 5rem;
    }
}

.friend-heading{
    font-family: var(--heading-font);
    font-weight: bold;
}

.find-btn{
    background-color: var(--button-color);
    padding: 1rem;
    border-radius: 30px;
    margin-top: 1rem;
    font-family: var(--body-font);
    font-weight: bold;
    color: var(--button-font);
    border: 1px solid #fff;
}

.find-btn:hover{
    background-color: var(--button-hover-color);
}

/* adopt today */
.mid-container{
    background-color: #EBEBEC;
    padding: 0 10rem;
}

@media (max-width:768px) {
    .mid-container{
        padding: 3rem;
    }
    
}

.left-section h1{
    font-family: var(--heading-font);
    color: var(--primary-font);
}

.left-section p{
    font-family: var(--body-font);
}

/* adoption steps */
.adoption-container{
    height: 50vh;
}

.adoption-container h1{
    font-family: var(--heading-font);
    color: var(--primary-font);
}